name: Build an AMI using Packer

on:
  push:
    branches:
      - 'main'
jobs:
  packer-ami-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Packer AMI Build
        uses: santisaez/packer-action@v1
        with:
          template: ami.json
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_KEY }}
          AWS_DEFAULT_REGION: ${{ secrets.AWS_REGION }}
          SUBNET_ID: ${{ secrets.SUBNET_ID }}
          AWS_AMI_USERS: ${{ secrets.AWS_AMI_USERS }}
          SOURCE_AMI: ${{ secrets.SOURCE_AMI }}